//-
  @mixin actionButton Button action mixin rendered inside a component.
mixin actionButton(label)
  button.action-button(type="button" data-pug-mixin="actionButton" data-pug-include="action")= label
